# Installed npm modules
node_modules
package-lock.json

# npm pack output
*.tgz

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Composer packages
composer.lock
vendor
